/*main-elements*/

body, html, section {
    height: 100%;
}

/*img-filter*/
.hover-element>img {
    filter: grayscale(2%) contrast(83%);
}

/*padding*/

.padding-5 {
    padding: 5px !important;
}

.padding-10 {
    padding: 10px !important;
}

.padding-15 {
    padding: 15px !important;
}

.padding-20 {
    padding: 20px !important;
}

.padding-30 {
    padding: 30px !important;
}


/*navbar*/

.navbar-container {
    width: 1200px;
    margin: auto;
}

.navbar-logo>img {
    max-width: 100%;
}

.navbar-item-wrapper {
    text-align: right;
    margin: 0 !important;
    top: 10px;
}

.navbar-item-right {
    padding: 0px 15px;
    display: inline-block;
    font-size: 16px;
}

.navbar-icon-right {
    padding: 0px 15px;
    display: inline-block;
    font-size: 16px;
}

.nav--fixed {
    padding: 0px 230px;
}

.navbar-item-right>a {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
}

.navbar-icon-right>a {
    color: #fff;
}

.border-right {
    border-right: 1px solid white;
}

.border-left {
    border-left: 1px solid white;
}

.navbar-custom {
    background-color: transparent !important;
    position: fixed;
    margin: auto;
    width: 100%;
}


/*slider-section*/

.slider-section {
    background-color: #fff;
    height: 650px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.blank-section {
    height: 30px;
    background-color: #fff;
}


/*vendor-section*/

.vendor-section {
    background-color: #fff;
    height: auto !important;
}

.vendor-container {
    width: 1200px;
    margin: auto;
    height: auto;
    overflow: hidden;
}

.vendor-header {
    width: 1200px;
    margin: auto;
}

.vendor-card {
    height: 320px;
    display: inline-block;
}

.vendor-card>a>img {
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
}

.vendor-card-profile-holder {
    position: absolute;
    top: 220px;
    padding: 0px 30px;
}

.vendor-card-profile {
    width: 45px;
    height: 45px;
    display: inline-block;
}

.vendor-card-profile>img {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    border-radius: 99em;
    display: inline-block;
}

.vendor-card-profile-caption {
    display: inline-block;
}

.vendor-card-profile-caption>a>h4 {
    margin-bottom: 0px !important;
    color: #fff;
}

.boxed>div {
    border-bottom: 1px solid #fff;
    margin-left: 128px;
}

.boxed>div>h4 {
    margin-bottom: 0px !important;
}

.hover-reveal-caption-l {
    margin-left: 429px !important;
}

.hover-element {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .5);
}


/*course-section*/

.course-section {
    width: 100%;
    margin: auto;
    height: auto;
    background-color: #fff;
}

.course-section>h3 {
    width: 1200px;
    margin: auto;
}

.tabs-content {
    padding: 0px 0px !important;
    width: 1200px;
    margin: auto;
    margin-top: 55px !important;
}

.tabs {
    text-align: right;
    margin-bottom: 0px !important;
}

.tabs>li {
    padding: 5px 10px;
    margin: 0px 0px !important;
}

.tabs-container {
    margin-bottom: 0px !important;
    width: 1200px;
    margin: auto;
}

.tab__title>h4 {
    margin-bottom: 0px !important;
}

.course-header {
    width: 1200px;
    margin: auto;
}

.course-container {
    width: 1200px;
    margin: auto;
    height: auto;
    overflow: hidden;
}

.course-card {
    height: auto;
    display: inline-block;
    overflow: hidden;
    background: transparent;
}

.course-card-image-holder {
    height: 207px;
    width: 100%;
    background-size: cover;
    overflow: hidden;
}

.course-card-image-holder>img {
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
}

.course-card-image-caption-1 {
    position: absolute !important;
    background-color: transparent;
    top: 190px;
    left: 20px;
}

.course-card-image-caption-2 {
    position: absolute !important;
    background-color: transparent;
    top: 190px;
    left: 130px;
}

.course-card-image-caption-1>a {
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
}

.course-card-image-caption-2>a {
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
}

.course-card-profile {
    width: 80px;
    height: 80px;
    position: absolute !important;
    left: 280px;
    top: 180px;
}

.course-card-profile>a>img {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    border-radius: 99em;
}

.course-card-caption {
    border-right: 2px solid #F5F5F5;
    border-left: 2px solid #F5F5F5;
}

.course-card-footer {
    background-color: #F5F5F5;
    overflow: hidden;
    border-right: 2px solid #F5F5F5;
    border-left: 2px solid #F5F5F5;
}

.course-card-footer>.col-md-8>p {
    display: inline-block;
}

.course-card-footer-participant {
    padding: 10px 0px !important;
}

.course-card-footer-btn {
    text-align: right;
}

.course-card-footer>.col-md-8>p {
    margin: 0px 0px !important;
}


/*corporate-section*/

.corporate-section {
    width: 100%;
    height: auto;
    background-color: #fff;
}

.corporate-container {
    width: 100%;
    margin: auto;
    height: 650px;
    overflow: hidden;
    background-size: cover;
}

.corporate-caption-top {
    top: 210px;
    padding-left: 130px !important;
}

.corporate-caption-top>h3 {
    color: #fff;
    display: inline-block;
    font-size: 30px;
}

.corporate-caption-bottom {
    padding-left: 130px !important;
    top: 210px;
}

.corporate-caption-bottom>h1 {
    color: #fff;
    font-size: 70px;
    font-weight: 600;
}

.corporate-caption-underlined {
    border-bottom: 2px solid #fff;
    margin-left: 7px;
}


/*footer-section*/

.footer-setion {
    height: 100px;
    background-color: #f5f5f5;
}

.footer-container {
    width: 1200px;
    margin: auto;
    height: 100%;
    overflow: hidden;
    text-align: right;
}

.footer-item {
    display: inline-block;
    padding: 0px 10px;
}

.footer-item>a {
    font-size: 16px;
    color: #9D9D9D;
}

.footer-item>a>img {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
}

.footer-item-container {
    margin-bottom: 0px !important;
    overflow: hidden;
}

.footer-social-container {
    margin-bottom: 0px !important;
    overflow: hidden;
}

.footer-social-item {
    display: inline-block;
    padding: 0px 5px;
}

.footer-copyright-container {
    margin-bottom: 0px !important;
    overflow: hidden;
    text-align: left;
    padding-top: 15px;
}

.footer-copyright-container>p {
    margin-bottom: 0px !important;
    color: #9D9D9D;
    font-size: 15px;
}

.footer-border-right {
    border-right: 1px solid #9D9D9D;
}

.footer-border-left {
    border-left: 1px solid #9D9D9D;
}
