/*main-elements*/

body, html, section {
    height: 100%;
}


/*img-filter*/

.hover-element>img {
    filter: grayscale(2%) contrast(83%);
}

.carousel-inner>.item>.fill>img {
    filter: grayscale(2%) contrast(83%);
}


/*padding*/

.padding-5 {
    padding: 5px !important;
}

.padding-10 {
    padding: 10px !important;
}

.padding-15 {
    padding: 15px !important;
}

.padding-20 {
    padding: 20px !important;
}

.padding-30 {
    padding: 30px !important;
}


/*navbar*/

.navbar-container {
    width: 1200px;
    margin: auto;
}

.navbar-logo>img {
    max-width: 100%;
}

.navbar-item-wrapper {
    text-align: right;
    margin: 0 !important;
    top: 10px;
}

.navbar-item-right {
    padding: 0px 15px;
    display: inline-block;
    font-size: 16px;
}

.navbar-icon-right {
    padding: 0px 15px;
    display: inline-block;
    font-size: 16px;
}

.nav--fixed {
    padding: 0px 240px;
}

.navbar-item-right>a {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
}

.navbar-icon-right>a {
    color: #fff;
}

.border-right {
    border-right: 1px solid white;
}

.border-left {
    border-left: 1px solid white;
}

.navbar-custom {
    background-color: transparent !important;
    position: fixed;
    margin: auto;
    width: 100%;
}


/*slider-section*/

.slider-section {
    background-color: #fff;
    height: 650px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.blank-section {
    height: 30px;
    background-color: #fff;
}


/*vendor-section*/

.vendor-section {
    background-color: #fff;
    height: auto !important;
}

.vendor-container {
    width: 1200px;
    margin: auto;
    height: auto;
    overflow: hidden;
}

.vendor-header {
    width: 1200px;
    margin: auto;
}

.vendor-card {
    height: 320px;
    display: inline-block;
}

.vendor-card>a>img {
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
}

.vendor-card-profile-holder {
    position: absolute;
    top: 220px;
    padding: 0px 30px;
}

.vendor-card-profile {
    width: 45px;
    height: 45px;
    display: inline-block;
}

.vendor-card-profile>img {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    border-radius: 99em;
    display: inline-block;
}

.vendor-card-profile-caption {
    display: inline-block;
}

.vendor-card-profile-caption>a>h4 {
    margin-bottom: 0px !important;
    color: #fff;
}

.boxed>div {
    border-bottom: 1px solid #fff;
    margin-left: 128px;
}

.boxed>div>h4 {
    margin-bottom: 0px !important;
}

.hover-reveal-caption-l {
    margin-left: 429px !important;
}

.hover-element {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .5);
}


/*course-section*/

.course-section {
    width: 100%;
    margin: auto;
    height: auto;
    background-color: #fff;
}

.course-section>h3 {
    width: 1200px;
    margin: auto;
}

.course-header {
    width: 1200px;
    margin: auto;
}

.course-container {
    width: 1200px;
    margin: auto;
    height: auto;
    overflow: hidden;
}

.course-container>.nav-tabs{
 padding-right: 0px;
 border-bottom: none;
}

.course-container>.nav-tabs>.active>a,.course-container>.nav-tabs>.active>a:focus,.course-container>.nav-tabs>.active>a:hover{
  border: none;
}

.course-container>.nav-tabs>li{
  float: right;
}
.course-container>.nav-tabs>li>a{
  font-size: 20px;
  padding: 0px 15px;
  color: #6d6d6d;
}

.course-card {
    height: auto;
    display: inline-block;
    overflow: hidden;
    background: transparent;
}

.course-card-image-holder {
    height: 207px;
    width: 100%;
    background-size: cover;
    overflow: hidden;
}

.carousel-inner>.item>.fill>img {
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
}

.course-card-image-holder>img {
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
}

.course-card-image-caption-1 {
    position: absolute !important;
    background-color: transparent;
    top: 190px;
    left: 20px;
}

.course-card-image-caption-2 {
    position: absolute !important;
    background-color: transparent;
    top: 190px;
    left: 130px;
}

.course-card-image-caption-1>a {
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
}

.course-card-image-caption-2>a {
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
}

.course-card-profile {
    width: 80px;
    height: 80px;
    position: absolute !important;
    left: 280px;
    top: 180px;
}

.course-card-profile>a>img {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    border-radius: 99em;
}

.course-card-caption {
    border-right: 2px solid #F5F5F5;
    border-left: 2px solid #F5F5F5;
}

.course-card-footer {
    background-color: #F5F5F5;
    overflow: hidden;
    border-right: 2px solid #F5F5F5;
    border-left: 2px solid #F5F5F5;
}

.course-card-footer>.col-md-8>p {
    display: inline-block;
}

.course-card-footer-participant {
    padding: 10px 0px !important;
}

.course-card-footer-btn {
    text-align: right;
}

.course-card-footer>.col-md-8>p {
    margin: 0px 0px !important;
}


/*corporate-section*/

.corporate-section {
    width: 100%;
    height: auto;
    background-color: #fff;
}

.corporate-container {
    width: 100%;
    margin: auto;
    height: 650px;
    overflow: hidden;
    background-size: cover;
}

.corporate-caption-top {
    top: 210px;
    padding-left: 130px !important;
}

.corporate-caption-top>h3 {
    color: #fff;
    display: inline-block;
    font-size: 30px;
}

.corporate-caption-bottom {
    padding-left: 130px !important;
    top: 210px;
}

.corporate-caption-bottom>h1 {
    color: #fff;
    font-size: 70px;
    font-weight: 600;
}

.corporate-caption-underlined {
    border-bottom: 2px solid #fff;
    margin-left: 7px;
}


/*footer-section*/

.footer-setion {
    height: 100px;
    background-color: #f5f5f5;
}

.footer-container {
    width: 1200px;
    margin: auto;
    height: 100%;
    overflow: hidden;
    text-align: right;
}

.footer-item {
    display: inline-block;
    padding: 0px 10px;
}

.footer-item>a {
    font-size: 16px;
    color: #9D9D9D;
}

.footer-item>a>img {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
}

.footer-item-container {
    margin-bottom: 0px !important;
    overflow: hidden;
}

.footer-social-container {
    margin-bottom: 0px !important;
    overflow: hidden;
}

.footer-social-item {
    display: inline-block;
    padding: 0px 5px;
}

.footer-copyright-container {
    margin-bottom: 0px !important;
    overflow: hidden;
    text-align: left;
    padding-top: 15px;
}

.footer-copyright-container>p {
    margin-bottom: 0px !important;
    color: #9D9D9D;
    font-size: 15px;
}

.footer-border-right {
    border-right: 1px solid #9D9D9D;
}

.footer-border-left {
    border-left: 1px solid #9D9D9D;
}


/*vendor-page-cover-section*/

.vendor-page-cover-section {
    height: auto;
}

.vendor-page-cover-holder {
    height: 400px;
    width: auto;
}

.vendor-page-cover-holder>img {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
}

.vendor-page-cover-profile {
    width: 150px;
    height: 150px;
    position: absolute !important;
    left: 255px;
    top: 200px;
}

.vendor-page-cover-profile>img {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    border-radius: 99em;
}

.vendor-page-cover-caption {
    position: absolute;
    top: 240px;
    left: 420px;
}

.vendor-page-cover-caption>h2 {
    color: #fff !important;
    font-weight: 900 !important;
    margin-bottom: 0px !important;
    border-bottom: 2px solid #fff;
}

.vendor-page-cover-social {
    position: absolute;
    top: 285px;
    left: 415px;
}

.vendor-page-cover-social>a {
    color: #fff !important;
    display: inline-block;
    padding: 0px 6px;
    font-size: 19px;
}


/*vendor-page-content-section*/

.vendor-page-content-section {
    width: 100%;
    margin: auto;
    height: auto;
    background-color: #fff;
}

.vendor-page-content-container {
    width: 1200px;
    margin: auto;
    height: auto;
    overflow: hidden;
}

.vendor-page-content-container>ul {
    margin: 0px 0px !important;
}

.vendor-page-content-container>.col-md-3 {
    padding: 0px 0px !important;
}

.vendor-page-content-container>.col-md-3>.col-md-4>p {
    margin: 0px 0px !important;
    padding: 5px 0px;
    font-size: 30px;
    font-weight: 600;
    color: #6d6d6d;
}

.vendor-page-content-container>.col-md-3>.col-md-4>span {
    font-size: 17px;
    color: #6d6d6d;
}

.vendor-page-content-container>.col-md-3>.col-md-4 {
    text-align: center;
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.vendor-page-content-btn {
    font-size: 20px !important;
    color: #6d6d6d !important;
}

.vendor-page-content-container>.col-md-9>h2 {
    margin: 0px 0px !important;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
    color: #6d6d6d;
}

.vendor-page-content-container>.col-md-9>p {
    margin: 0px 0px !important;
    padding: 0px 0px;
    font-size: 16px;
    color: #6d6d6d;
}


/*vendor-page-course-section*/

.vendor-page-course-section {
    width: 100%;
    margin: auto;
    height: auto;
    background-color: #fff;
}

.vendor-page-course-container {
    width: 1200px;
    margin: auto;
    height: auto;
    overflow: hidden;
}

.vendor-page-course-container>.tabs-container>ul>li>.btn {
    border-radius: 0px !important;
    border: none !important;
}

.vendor-page-course-container>.tabs-container>.tabs>.active {
    border-bottom: 3px solid red;
    transition: none !important;
}

.vendor-page-course-container>.tabs-container>.tabs {
    text-align: left;
    padding: 0px 0px;
    margin-left: 20px;
    border-bottom: 1px solid rgba(109, 109, 109, 0.29);
}

.vendor-page-course-container>.tabs-container>ul>li>.tab__title>h4 {
    font-size: 21px;
}

.vendor-page-content-container>.col-md-9 {
    padding-left: 30px;
    padding-right: 0px;
}

.vendor-page-course-container>.tabs-container>.tabs>li {
    padding: 5px 30px;
}

.vendor-page-course-container>.tabs-container>.tabs-content {
    margin-top: 0px !important;
}

.vendor-page-course-title {
    border-bottom: 1px solid rgba(109, 109, 109, 0.29);
    padding: 35px 0px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.vendor-page-course-title>li {
    color: #6d6d6d
}

.vendor-page-course-item-1 {
    padding-right: 0px !important;
    padding-left: 30px !important;
    display: inline-block;
}

.vendor-page-course-item-1>h4 {
    margin-bottom: 0px;
}

.vendor-page-course-item-2 {
    padding-right: 0px !important;
    padding-left: 630px !important;
    display: inline-block;
}

.vendor-page-course-item-2>h4 {
    margin-bottom: 0px;
}

.vendor-page-course-item-3 {
    padding-left: 152px !important;
    display: inline-block;
}

.vendor-page-course-item-3>h4 {
    margin-bottom: 0px;
}

.vendor-page-course-item>h4 {
    color: #6d6d6d;
}

.tab__title>h4 {
    color: #6d6d6d;
}

.vendor-page-course-container>.tabs-container>.tabs>li {
    opacity: 100;
}

.vendor-page-course-content {
    height: 152px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.vendor-page-course-image {
    height: 152px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px !important;
}

.vendor-page-course-content>h4 {
    line-height: 135px;
    margin-bottom: 0px !important;
    font-weight: 600;
    font-size: 22px;
    color: #6d6d6d;
}

.vendor-page-course-content>.rate_row {
    line-height: 135px;
    margin-bottom: 0px !important;
}

.vendor-page-course-image>img {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
}

.course-container>.col-md-1 {
    padding-top: 56px;
}

.vendor-page-gallery-item{
  height: 190px;
  padding: 15px 15px;
  position: relative;
}

.vendor-page-gallery-item>a>img{
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
}

.vendor-page-gallery-video{
  height: 380px;
  padding: 15px 15px;
}

.vendor-page-course-container>.nav-tabs{
  margin-left: 21px;
}

.vendor-page-course-container>.nav>li>a{
  font-size: 17px;
  color: #6d6d6d;
}
