/*index-page resposive m starts here*/

@media screen and (min-width:1368px) {
    .vendor-section {
        width: 1200px;
        margin: auto;
    }
    .course-section {
        width: 1200px;
        margin: auto;
    }
    .vendor-card-image-holder {
        height: 280px;
    }
    .vendor-card-profile-holder {
        top: 215px;
    }
    .vendor-card-profile-caption {
        margin-top: 14px;
        font-size: 20px;
    }
    .course-tab-row {
        height: 250px;
    }
    .course-tab-info-title {
        font-size: 18px;
        padding: 5px 5px 1px 10px;
    }
    .course-tab-info-vendor {
        padding: 1px 5px 0px 10px;
    }
    .course-tab-info-vendor-name>a>h2 {
        font-size: 14px;
    }
    .course-tab-price {
        margin: 16px;
        font-size: 15px;
    }
    .footer-setion {
        height: 80px;
    }
    .footer-container {
        width: 1200px;
    }
    .footer-item-container {
        text-align: left;
        padding-left: 0px;
    }
    .footer-copyright-container {
        text-align: left;
        padding-top: 14px;
        display: inline-block;
        float: left;
        padding-left: 10px;
    }
    .footer-social-container {
        display: inline-block;
    }
}

@media screen and (min-width:1024px) {
    .nav-toggle-container {
        display: none;
    }
}

@media screen and (max-width:1023px) {
    .top-menu {
        display: none;
    }
}

@media screen and (min-width:1024px) and (max-width: 1367px) {
    .slider-caption-holder{
        left: 33%;
    }
    .vendor-section {
        width: 1100px;
        margin: auto;
    }
    .focus-course-section {
        width: 1100px;
    }
    .focus-course-image-holder {
        height: 300px;
    }
    .focus-course-info-title h1, h2, h3, h4, h5 {
        font-size: 30px;
    }
    .focs-course-info-content {
        font-size: 18px;
    }
    .course-section {
        width: 1100px;
        margin: auto;
    }
    .vendor-card-image-holder {
        height: 255px;
    }
    .vendor-card-profile-holder {
        top: 200px;
    }
    .vendor-card-profile {
        width: 45px;
        height: 45px;
    }
    .vendor-card-profile-caption {
        margin-top: 9px;
    }
    .course-tab-row {
        height: 240px;
    }
    .course-tab-info-title {
        font-size: 18px;
        padding: 5px 0px 1px 10px;
    }
    .course-tab-info-vendor {
        padding: 2px 0px 0px 10px;
    }
    .course-tab-info-vendor-logo {
        height: 27px;
        width: 27px;
    }
    .course-tab-info-vendor-name>a>h2 {
        font-size: 16px;
    }
    .course-tab-price {
        margin: 16px 5px;
        padding: 0px;
        font-size: 16px;
    }
    .footer-setion {
        height: 80px;
    }
    .footer-container {
        width: 1100px;
    }
    .footer-item-container {
        text-align: left;
        padding-left: 0px;
    }
    .footer-copyright-container {
        text-align: left;
        padding-top: 14px;
        display: inline-block;
        float: left;
        padding-left: 10px;
    }
    .footer-social-container {
        display: inline-block;
    }
}

@media screen and (min-width:900px) and (max-width: 1023px) {
    .slider-caption-holder{
      left: 30%;
      top: 240px;
    }
    .m-nav-container {
        padding: 0px 15px 0px 15px;
        background: #fff;
    }
    .nav-logo {
        margin-top: 16px;
    }
    .nav-toggle-container {
        font-size: 30px;
        margin-top: 8px;
    }
    .slider-section{
      margin-top: 62px;
    }
    .vendor-section {
        width: 100%;
    }
    .course-section {
        width: 100%;
    }
    .focus-course-section {
        width: 100%;
    }
    .focus-course-image-holder {
        height: 300px;
    }
    .focus-course-info-title h1, h2, h3, h4, h5 {
        font-size: 28px;
    }
    .focs-course-info-content {
        font-size: 17px;
    }
    .vendor-card-image-holder {
        height: 236px;
    }
    .vendor-card-profile-holder {
        top: 190px;
    }
    .vendor-card-profile {
        width: 40px;
        height: 40px;
    }
    .vendor-card-profile-caption {
        margin-top: 9px;
        font-size: 18px;
    }
    .course-tab-row {
        height: 210px;
    }
    .course-tab-info-title {
        font-size: 16px;
        padding: 5px 0px 1px 10px;
    }
    .course-tab-info-vendor-logo {
        height: 22px;
        width: 22px;
    }
    .course-tab-info-vendor {
        padding: 2px 0px 0px 10px;
    }
    .course-tab-info-vendor-name>a>h2 {
        font-size: 14px;
    }
    .course-tab-price {
        margin: 14px;
        font-size: 13px;
    }
    .corporate-info-holder {
        padding: 60px 15px 0px 15px;
    }
}

@media screen and (max-width: 900px) {
    .slider-caption-holder{
        left: 30%;
        top: 240px;
    }
    .focus-course-section {
        width: 100%;
    }
    .focus-course-container {
        padding: 0px 10px;
    }
    .focus-course-image-holder {
        width: 100%;
        height: 440px;
    }
    .focus-course-info-holder {
        width: 100%;
        padding: 15px 10px 35px 10px;
    }
    .focus-course-info-title h1, h2, h3, h4, h5 {
        font-size: 30px;
    }
    .focs-course-info-content {
        line-height: 1.5;
        font-size: 18px;
    }
    .focus-course-info-btn>.btn {
        font-size: 15px;
    }
    .corporate-info-holder {
        width: 100%;
        padding: 60px 15px 0px 15px;
    }
    .m-nav-container {
        padding: 0px 15px 0px 15px;
        background: #fff;
    }
    .nav-logo {
        margin-top: 17px;
    }
    .nav-toggle-container {
        font-size: 30px;
        margin-top: 8px;
    }
    .slider-section{
      margin-top: 62px;
    }
}

@media screen and (max-width:769px) {
    .slider-caption-holder{
        left: 25%;
    }
    .focus-course-image-holder {
        height: 390px;
    }
}

@media screen and (max-width:737px) {
    .corporate-form-container {
        width: 380px;
        top: 1800px;
    }
    .corporate-form-container>.form-horizontal>.form-group-container>.form-group>input {
        margin-bottom: 0px;
    }
    .corporate-caption-bottom>h1 {
        font-size: 55px;
    }
    .vendor-card-image-holder {
        height: 348px;
    }
    .course-tab-price {
        margin: 18px;
    }
}

@media screen and (max-width:668px) {
    .slider-caption-holder{
        left: 20%;
    }
    .vendor-card-image-holder {
        height: 313.5px;
    }
    .vendor-card-profile-holder {
        top: 250px;
    }
    .focus-course-image-holder {
        height: 300px;
    }
    .focus-course-image-holder {
        height: 350px;
    }
    .course-tab-row {
        height: 270px;
    }
    .course-tab-info-title {
        font-size: 20px;
        padding: 5px 5px 2px 10px;
    }
    .course-tab-info-vendor-name>a>h2 {
        font-size: 15px;
    }
    .course-tab-price {
        margin: 17px;
        font-size: 18px;
    }
}

@media screen and (max-width:641px) {
    .corporate-form-container {
        width: 280px;
    }
}

@media screen and (max-width:569px) {
    .slider-caption-holder{
        left: 19%;
    }
    .vendor-card-image-holder {
        height: 378.5px;
    }
    .vendor-card-profile-holder {
        top: 310px;
    }
    .focus-course-image-holder {
        height: 300px;
    }
}

@media screen and (max-width:500px) {
    .slider-caption-holder{
      left: 13%;
      top: 170px;
    }
    .vendor-card-image-holder {
        height: 312px;
    }
    .vendor-card-profile-holder {
        top: 240px;
    }
}

@media screen and (max-width:426px) {
  .slider-caption-holder {
    left: 9%;
    top: 240px;
}
}
@media screen and (max-width:415px) {
    .slider-caption-holder {
       left: 14%;
       top: 170px;
    }
    .slider-caption-title{
      font-size: 120px;
    }
    .slider-section {
        height: 500px;
    }
    .blank-section {
        padding: 0px;
        height: 10px;
    }
    .vendor-card-image-holder {
        height: 253px;
    }
    .vendor-header>h2 {
        font-size: 25px;
    }
    .vendor-card {
        width: 100%;
        margin: auto;
    }
    .vendor-card-profile-holder {
        top: 205px;
        padding: 0px 20px;
    }
    .vendor-card-profile {
        width: 45px;
        height: 45px;
        float: left;
    }
    .vendor-card-profile-caption {
        display: inline-block;
        margin-top: 11px;
        padding-left: 5px;
        font-size: 18px;
        color: #fff;
    }
    .vendor-card-profile-caption>a>h4 {
        font-size: 25px;
    }
    .focus-course-image-holder {
        height: 240px;
    }
    .focs-course-info-content {
        padding: 8px 0px;
        font-size: 15px;
    }
    .focus-course-info-btn>.btn {
        font-size: 13px;
    }
    .focus-course-info-title h1, h2, h3, h4, h5 {
        font-size: 25px;
    }
    .course-section {
        width: 410px;
        margin: auto;
        padding: 0px;
    }
    .course-card-image-holder {
        height: 150px;
    }
    .course-card-image-caption-2 {
        top: 125px;
        right: 70px;
    }
    .course-tab-nav-container>ul>li>a {
        padding: 10px 5px;
    }
    .course-tab-row {
        height: 210px;
    }
    .course-tab-info-title {
        padding: 5px 5px 1px 10px;
        font-size: 14px;
    }
    .course-tab-info-vendor {
        padding: 0px 5px 0px 10px;
    }
    .course-tab-info-vendor-logo {
        width: 18px;
        height: 18px;
    }
    .course-tab-info-vendor-name>a>h2 {
        font-size: 12px;
    }
    .course-tab-price {
        margin: 10px;
        font-size: 14px;
    }
    .corporate-form-container {
        width: 320px;
        position: absolute;
        left: 50px;
        top: 1350px;
    }
    form input[type='text'] {
        margin-bottom: 0px;
        margin-top: 8px;
    }
    .form-group-container {
        padding: 10px 20px 10px 20px;
    }
    .form-header {
        padding: 10px;
    }
    .corporate-container>.col-md-12 {
        padding: 0px 15px;
    }
    .corporate-caption-bottom {
        display: none;
    }
    .corporate-caption-top {
        top: 50px;
        text-align: center;
    }
    .footer-setion {
        height: 130px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .footer-item {
        padding: 0px 7px;
    }
    .footer-copyright-container {
        padding-top: 5px;
        text-align: center;
        padding-bottom: 10px;
    }
    .footer-social-container {
        text-align: center;
    }
}

@media screen and (max-width:376px) {
    .slider-caption-holder{
      min-width: 100px;
      min-height: 100px;
    }
    .slider-caption-holder{
       left: 13%;
       top: 150px;
    }
    .slider-caption-title{
      font-size: 110px;
    }

    .slider-section {
        height: 465px;
    }
    .navbar-custom {
        width: 100%;
        margin: auto;
    }
    .vendor-section {
        width: 100%;
        padding: 0px;
    }
    .vendor-header>h2 {
        font-size: 22px;
    }
    .vendor-card-image-holder {
        height: 230px;
    }
    .vendor-card {
        width: 100%;
        margin: auto;
    }
    .vendor-card-profile {
        width: 40px;
        height: 40px;
    }
    .vendor-card-profile-holder {
        top: 185px;
    }
    .vendor-card-profile-caption {
        font-size: 17px;
        margin-top: 8px;
    }
    .focus-course-image-holder {
        height: 200px;
    }
    .course-section {
        width: 100%;
        margin: auto;
        padding: 0px;
    }
    .course-header>h2 {
        font-size: 18px;
    }
    .course-tab-row {
        height: 200px;
    }
    .course-tab-info-title {
        padding: 3px 5px 1px 10px;
    }
    .course-card-profile {
        width: 45px;
        height: 45px;
        top: 105px;
    }
    .course-card-image-caption-2 {
        top: 115px;
        right: 70px;
    }
    .course-card-image-holder {
        height: 140px;
    }
    .course-container>.nav-tabs>li>a {
        font-size: 13px;
        padding: 0px 14px;
    }
    .course-container>.nav-tabs {
        margin-right: 3px;
    }
    .course-container>.col-md-3 {
        text-align: center;
    }
    .course-tab-nav-container>ul {
        padding: 0px;
    }
    .corporate-form-container {
        width: 300px;
        position: absolute;
        left: 38px;
        top: 1260px
    }
    form input[type='text'] {
        margin-bottom: 0px;
        margin-top: 8px;
    }
    .form-group-container {
        padding: 10px 20px 10px 20px;
    }
    .form-header {
        padding: 10px;
    }
    .corporate-container>.col-md-12 {
        padding: 0px 15px;
    }
    .corporate-caption-bottom {
        display: none;
    }
    .corporate-caption-top {
        top: 40px;
        text-align: center;
    }
    .footer-item {
        padding: 0px 3px;
    }
}

@media screen and (max-width:321px) {
  .slider-caption-holder {
      left: 16%;
      top: 150px;
      min-width: 100px;
      min-height: 100px;
    }
    .slider-caption-title-holder {
    padding: 0px 15px 0px 0px;
    }
    .slider-caption-title {
    font-size: 90px;
    }
    .slider-caption-text-line-1{
      font-size: 60px;
    }
    .slider-section {
        height: 435px;
    }
    .blank-section {
        height: 10px;
    }
    .navbar-custom {
        width: 100%;
        margin: auto;
    }
    .vendor-section {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .vendor-card-image-holder {
        height: 193.33px;
    }
    .vendor-header>h2 {
        font-size: 20px;
    }
    .vendor-card {
        width: 100%;
        margin: auto;
    }
    .vendor-card-profile-holder {
        top: 155px;
    }
    .vendor-card-profile {
        height: 40px;
        width: 40px;
    }
    .vendor-card-profile-caption {
        font-size: 15px;
        margin-top: 10px;
    }
    .focus-course-image-holder {
        height: 180px;
    }
    .focus-course-info-title h1, h2, h3, h4, h5 {
        font-size: 22px;
    }
    .focs-course-info-content {
        font-size: 13px;
    }
    .focus-course-info-btn>.btn {
        font-size: 12px;
    }
    .course-section {
        width: 100%;
        margin: 0px;
    }
    .course-header-logo {
        width: 70px;
    }
    .course-header>h2 {
        vertical-align: bottom;
    }
    .course-tab-row {
        height: 175px;
    }
    .course-tab-info-title {
        padding: 2px 5px 1px 10px;
        font-size: 14px;
    }
    .course-tab-info-vendor-name>a>h2 {
        font-size: 12px;
    }
    .course-tab-info-vendor {
        padding: 0px 0px 0px 10px;
    }
    .course-tab-price {
        margin: 10px 5px;
        font-size: 12px;
    }
    .course-header>h2 {
        font-size: 16px;
    }
    .course-tab-nav-container>ul>li>a {
        font-size: 10px;
    }
    .course-container>.nav-tabs>li>a {
        font-size: 13px;
        padding: 0px 8px;
    }
    .course-container>.col-md-3>h2 {
        text-align: center;
    }
    .course-card-profile {
        width: 40px;
        height: 40px;
        top: 88px;
    }
    .course-card-image-holder {
        height: 120px;
    }
    .course-card-image-caption-2 {
        top: 96px;
        right: 60px;
    }
    .course-card-image-caption-2>a {
        font-size: 14px;
    }
    .course-card-caption {
        padding: 10px;
    }
    .course-card-caption>p {
        font-size: 10px;
    }
    .course-card-footer {
        padding: 10px;
    }
    .course-card-footer-participant>p {
        font-size: 10px;
    }
    .course-card-footer-btn>a {
        padding: 6px 3px;
    }
    .corporate-form-container {
        width: 260px;
        position: absolute;
        left: 31px;
        top: 1155px;
    }
    form input[type='text'] {
        margin-bottom: 0px;
        margin-top: 8px;
    }
    .corporate-form-container>.form-horizontal>.form-group-container>.form-group>input {
        margin-top: 0px;
    }
    .form-group-container {
        padding: 10px 20px 10px 20px;
    }
    .form-header {
        padding: 10px;
    }
    .form-header>h2 {
        font-size: 25px;
    }
    .corporate-caption-top>h3 {
        font-size: 25px;
    }
    .corporate-caption-bottom {
        display: none;
    }
    .corporate-caption-top {
        top: 60px;
        text-align: center;
    }
    .corporate-form-container>.form-horizontal>.form-group-container>.form-group>input[placeholder] {
        font-size: 15px;
    }
    .corporate-form-container>.form-horizontal>.form-group-container>.form-group>label {
        font-size: 15px;
    }
    .footer-item {
        padding: 0px 3px;
    }
    .footer-item>a {
        font-size: 12px;
    }
    .footer-copyright-container>p {
        font-size: 12px;
    }
}


/*course-page responsive m starts here*/

@media screen and (min-width:1300px) {
    .course-page-content-section {
        width: 1300px;
    }
    .course-page-statistic-container-r {
        width: 40%;
        left: 60%;
        margin-top: 25px;
        float: right;
    }
    .course-page-tab-nav-container>.nav-tabs>li>a {
        padding: 10px 55px;
    }
    .course-page-tab-container {
        width: 60%;
    }
    .course-page-cover-section {
        height: 720px;
    }
    .course-page-date-collapse-container {
        width: 100%;
        margin: auto;
    }
    .course-page-buy-container-r {
        position: static;
        padding: 20px 0px;
    }
    .course-page-statistic-price-r {
        width: 24%;
    }
    .allc-page-tab-row {
        height: 550px;
    }
    .allc-page-tab-info-title {
        font-size: 35px;
    }
    .allc-page-tab-info-vendor-logo {
        height: 40px;
        width: 40px;
    }
    .allc-page-tab-info-vendor-name {
        vertical-align: middle;
    }
    .allc-page-tab-info-vendor-name>a>h2 {
        font-size: 25px;
    }
    .allc-page-tab-price {
        font-size: 30px;
    }
    .course-page-statistic-title-r>h1 {
        font-size: 45px;
    }
    .course-page-statistic-vendor-name>h2 {
        font-size: 25px;
        padding: 5px 0px;
    }
    .course-page-statistic-vendor-name>a>h1 {
        font-size: 25px;
        padding: 5px 0px;
    }
    .course-page-statistic-vendor-image {
        width: 65px;
        height: 65px;
    }
    .course-page-statistic-pt-holder-r {
        padding: 25px 10px;
    }
    .course-page-statistic-date-r {
        padding: 15px 10px;
    }
    .course-page-buy-btn-r>h3 {
        font-size: 35px;
    }
}

@media screen and (min-width:1024px) and (max-width: 1300px) {
    .course-page-cover-section {
      height: 720px;
    }
    .course-page-cover-section>.lSSlideOuter>.lSSlideWrapper{
      height: 80%;
    }
    .course-page-cover-section>.lSSlideOuter>.lSGallery {
    height: 20%;
    }
    .course-page-statistic-container-r {
        width: 40%;
        left: 60%;
        margin-top: 25px;
        float: right;
    }
    .course-page-tab-container {
        width: 60%;
    }
    .course-page-date-collapse-container {
        width: 100%;
        margin: auto;
    }
    .course-page-buy-container-r {
        position: static;
        padding: 20px 0px;
    }
    .course-page-statistic-price-r {
        width: 24%;
    }
    .course-page-statistic-time-r{
      width: 24%;
    }
    .course-page-statistic-price-label-r{
      font-size: 18px;
    }
    .course-page-tab-nav-container>.nav-tabs>li>a {
        font-size: 20px;
        padding: 10px 35px;
    }
    .allc-page-tab-row {
        height: 350px;
    }
    .allc-page-tab-info-title {
        font-size: 25px;
    }
    .allc-page-tab-info-vendor-logo {
        height: 22px;
        width: 22px;
    }
    .allc-page-tab-info-vendor-name {
        vertical-align: middle;
    }
    .allc-page-tab-info-vendor-name>a>h2 {
        font-size: 18px;
    }
    .allc-page-tab-price {
        font-size: 20px;
        margin: 17px;
    }
    .course-page-statistic-title-r>h1 {
        font-size: 45px;
    }
    .course-page-statistic-vendor-name>h2 {
        font-size: 25px;
        padding: 5px 0px;
    }
    .course-page-statistic-vendor-name>a>h1 {
        font-size: 25px;
        padding: 5px 0px;
    }
    .course-page-statistic-vendor-image {
        width: 65px;
        height: 65px;
    }
    .course-page-statistic-pt-holder-r {
        padding: 25px 10px;
    }
    .course-page-statistic-date-r {
        padding: 15px 10px;
    }
    .course-page-buy-btn-r>h3 {
        font-size: 35px;
    }
}

@media screen and (min-width:937px) and (max-width: 1024px) {
    .course-page-cover-section {
        height: 650px;
        margin-top: 62px;
    }
    .course-page-cover-section>.lSSlideOuter>.lSSlideWrapper{
      height: 80%;
    }
    .course-page-cover-section>.lSSlideOuter>.lSGallery {
    height: 20%;
    }
    .course-page-tab-nav-container>.nav-tabs>li>a {
        padding: 10px 35px;
    }
    .course-page-statistic-price-label-r {
    font-size: 17px;
    }
}

@media screen and (min-width:837px) and (max-width: 937px) {
    .course-page-cover-section {
        height: 600px;
        margin-top: 62px;
    }
    .course-page-cover-section>.lSSlideOuter>.lSSlideWrapper{
      height: 80%;
    }
    .course-page-cover-section>.lSSlideOuter>.lSGallery {
    height: 20%;
    }
    .course-page-tab-nav-container>.nav-tabs>li>a {
        padding: 10px 65px;
    }
}

@media screen and (min-width:737px) and (max-width: 837px) {
    .course-page-cover-section {
        height: 550px;
        margin-top: 62px;
    }
    .course-page-cover-section>.lSSlideOuter>.lSSlideWrapper{
      height: 82%;
    }
    .course-page-cover-section>.lSSlideOuter>.lSGallery {
    height: 18%;
    }
}

@media screen and (max-width:737px) {
    .course-page-cover-section {
      margin-top: 62px;
    }
    .course-page-cover-section>.lSSlideOuter>.lSSlideWrapper{
      height: 84%;
    }
    .course-page-cover-section>.lSSlideOuter>.lSGallery {
    height: 16%;
    }
    .course-page-tab-nav-container>.nav-tabs>li>a {
        font-size: 20px;
    }
    .course-page-tab-nav-container>.nav-tabs>li>a {
        padding: 10px 40px;
    }
    .course-page-statistic-price-r{
      width: 24%;
    }
    .course-page-statistic-time-r{
      width: 24%;
    }
}

@media screen and (max-width:616px) {
    .course-page-tab-nav-container>.nav-tabs>li>a {
        padding: 10px 25px;
    }
    .course-page-cover-section {
        height: 420px;
    }
    .allc-page-tab-row {
        height: 330px;
    }
    .allc-page-tab-info-title {
        font-size: 20px;
    }
    .allc-page-tab-info-vendor-logo {
        width: 23px;
        height: 23px;
    }
    .allc-page-tab-info-vendor-name>a>h2 {
        font-size: 16px;
    }
    .allc-page-tab-price {
        font-size: 19px;
        margin: 16px;
    }
    .comment-bubble{
      width: 80%;
    }
}

@media screen and (max-width:569px) {
    .course-page-statistic-price-r, .course-page-statistic-time-r {
        width: 24%;
    }
    .course-page-course-tab-rate-r>.rate_row>.rate_star {
        font-size: 40px;
    }
    .course-page-cover-section {
        height: 380px;
    }
}

@media screen and (max-width:496px) {
    .course-page-tab-nav-container>.nav-tabs>li>a {
        padding: 10px 15px;
    }
    .course-page-cover-section {
        height: 330px;
    }
    .comment-bubble{
      width: 75%;
    }
}

@media screen and (max-width:415px) {
    .course-page-cover-section {
        height: 290px;
    }
    .course-page-statistic-title-r>h1 {
        font-size: 40px;
    }
    .course-page-statistic-vendor-image {
        width: 40px;
        height: 40px;
    }
    .course-page-statistic-vendor-name>a>h1, .course-page-statistic-vendor-name>h2 {
        font-size: 15px;
    }
    .course-page-statistic-price-r, .course-page-statistic-time-r, .course-page-statistic-place-r, .course-page-statistic-share-r {
        width: 23%;
    }
    .course-page-statistic-price-icon-r, .course-page-statistic-time-icon-r, .course-page-statistic-place-icon-r, .course-page-statistic-share-icon-r {
        font-size: 10px;
        padding: 0px 0px;
    }
    .course-page-statistic-price-label-r, .course-page-statistic-time-label-r, .course-page-statistic-place-label-r, .course-page-statistic-share-label-r {
        font-size: 13px;
    }
    .course-page-date-collapse-container>.radio>label {
        font-size: 20px;
    }
    .course-page-date-collapse-container>.radio>label>input[type=radio] {
        margin-top: 8px;
    }
    .course-page-related-container>.course-card>.course-card-profile {
        left: 280px;
    }
    .course-page-statistic-date-r {
        padding: 10px 10px;
    }
    .course-page-statistic-date-r>.course-page-statistic-date-icon-r>i {
        font-size: 25px;
    }
    .course-page-statistic-date-r>.course-page-statistic-date-label-r>p {
        font-size: 22px;
    }
    .course-page-share-btn-r>i {
        font-size: 42px;
    }
    .course-page-share-btn-r>h3 {
        font-size: 22px;
    }
    .course-page-tab-nav-container>.nav-tabs>li>a {
        font-size: 17px;
        padding: 10px 15px;
    }
    .course-page-course-tab-image-r {
        height: 100px;
    }
    .course-page-course-tab-info-r {
        height: 100px;
    }
    .course-page-course-tab-title-r {
        font-size: 15px;
        line-height: 32px;
    }
    .course-page-course-tab-rate-r {
        font-size: 15px;
        line-height: 30px;
    }
    .course-page-course-tab-rate-r>.rate_row>.rate_star {
        font-size: 20px;
        padding: 0px 5px;
    }
    .course-page-course-tab-pb-r {
        line-height: 30px;
    }
    .course-page-course-tab-price-r {
        font-size: 15px;
    }
    .course-page-course-tab-buy-r {
        font-size: 15px;
    }
}

@media screen and (max-width:408px) {
    .footer-item {
        padding: 0px 5px;
    }
    .course-page-tab-container>ul>li>a {
        padding: 10px 10px;
    }
}

@media screen and (max-width:376px) {
    .course-page-cover-section {
        height: 210px;
    }
    .course-page-tab-container>.nav>li>a {
        padding: 10px 12px;
    }
    .course-page-share-btn-r>h3 {
        font-size: 24px;
    }
    .course-page-share-btn-r>i {
        font-size: 45px;
    }
    .course-page-tab-nav-container>.nav-tabs>li>a {
        font-size: 15px;
    }
    .footer-item {
        padding: 0px 2px;
    }
    .course-page-tab-container>.nav>li>a {
        padding: 10px 10px;
    }
    .course-page-related-container>.course-card>.course-card-profile {
        left: 238px;
    }
    .course-page-date-collapse-container>.radio>label {
        font-size: 15px;
    }
    .course-page-date-collapse-container>.radio>label>input[type=radio] {
        margin-top: 5px;
    }
    .comment-bubble{
      width: 70%;
    }
}

@media screen and (max-width:321px) {
    .course-page-cover-section {
        height: 180px;
    }
    .course-page-related-container>.course-card>.course-card-profile {
        left: 213px;
        top: 190px;
    }
    .course-page-tab-nav-container>.nav>li>a {
        font-size: 12px;
    }
    .course-page-course-tab-pb-r {
        line-height: 29px;
    }
    .course-page-course-tab-price-r {
        font-size: 12px;
    }
    .course-page-course-tab-buy-r {
        font-size: 12px;
    }
    .course-page-buy-btn-r>h3 {
        font-size: 25px;
    }
    .comment-bubble{
      width: 68%;
    }
}

@media screen and (max-width:312px) {
    .course-page-tab-container>.nav>li>a {
        padding: 10px 10px;
        font-size: 12px;
    }
    .course-page-related-container>.course-card>.course-card-profile {
        left: 195px;
    }
}


/*vendor page responsive starts here*/

@media screen and (max-width:737px) {
    .vendor-page-profile-holder {
        top: 335px;
    }
}

@media screen and (max-width:668px) {
    .vendor-page-profile-holder {
        top: 300px;
    }
    .vendor-page-image-tab-video {
        height: 411px;
    }
    .vendor-page-statistic-container {
        padding: 140px 0px 20px 0px;
    }
}

@media screen and (max-width:569px) {
    .vendor-page-profile-holder {
        top: 240px;
    }
    .vendor-page-statistic-amount-r, .vendor-page-statistic-follow-r {
        width: 24%;
    }
    .vendor-page-course-tab-rate-r>.rate_row>.rate_star {
        font-size: 40px;
    }
    .vendor-page-course-tab-pb-r {
        line-height: 62px;
    }
}

@media screen and (max-width:415px) {
    .vendor-page-profile-holder {
        position: absolute;
        top: 185px;
    }
    .vendor-page-profile-image {
        width: 100px;
        height: 100px;
    }
    .vendor-page-profile-holder-caption>h2 {
        font-size: 25px;
    }
    .vendor-page-statistic-container {
        padding: 105px 0px 20px 0px;
    }
    .vendor-page-statistic-amount-r {
        width: 24%;
    }
    .vendor-page-statistic-follow-r {
        width: 24%;
    }
    .vendor-page-statistic-amount-icon-r, .vendor-page-statistic-fans-icon-r, .vendor-page-statistic-rate-icon-r {
        font-size: 30px;
    }
    .vendor-page-statistic-amount-label-r, .vendor-page-statistic-fans-label-r, .vendor-page-statistic-rate-label-r, .vendor-page-statistic-follow-label-r {
        font-size: 15px;
    }
    .vendor-page-statistic-follow-icon-r {
        font-size: 10px;
    }
    .vendor-page-tab-nav-container>.nav>li>a {
        font-size: 15px;
    }
    .vendor-page-course-tab-image-r {
        height: 100px;
    }
    .vendor-page-course-tab-info-r {
        height: 100px;
    }
    .vendor-page-course-tab-title-r {
        font-size: 15px;
        line-height: 32px;
    }
    .vendor-page-course-tab-rate-r {
        font-size: 15px;
        line-height: 30px;
    }
    .vendor-page-course-tab-rate-r>.rate_row>.rate_star {
        font-size: 20px;
        padding: 0px 5px;
    }
    .vendor-page-course-tab-pb-r {
        line-height: 30px;
    }
    .vendor-page-course-tab-price-r {
        font-size: 15px;
    }
    .vendor-page-course-tab-buy-r {
        font-size: 15px;
    }
    .vendor-page-story-tab-container>p {
        font-size: 15px;
        line-height: 25px;
    }
    .vendor-page-image-tab-video {
        height: 242px;
    }
}

@media screen and (max-width:376px) {
    .vendor-page-profile-holder {
        top: 160px;
    }
    .vendor-page-statistic-container {
        padding: 90px 0px 20px 0px;
    }
    .vendor-page-statistic-amount-icon-r, .vendor-page-statistic-fans-icon-r, .vendor-page-statistic-rate-icon-r {
        font-size: 25px;
    }
    .vendor-page-statistic-amount-label-r, .vendor-page-statistic-fans-label-r, .vendor-page-statistic-rate-label-r, .vendor-page-statistic-follow-label-r {
        font-size: 10px;
    }
    .vendor-page-statistic-follow-icon-r {
        font-size: 8px;
    }
    .vendor-page-tab-nav-container>.nav>li>a {
        font-size: 13px;
    }
    .vendor-page-image-tab-video {
        height: 216.66px;
    }
    .vendor-page-course-tab-price-r {
        font-size: 13px;
    }
    .vendor-page-course-tab-buy-r {
        font-size: 13px;
    }
}

@media screen and (max-width:321px) {
    .vendor-page-profile-holder {
        top: 130px;
    }
    .vendor-page-tab-nav-container>.nav>li>a {
        font-size: 8px;
    }
    .vendor-page-course-tab-pb-r {
        line-height: 29px;
    }
    .vendor-page-course-tab-title-r {
        font-size: 13px;
    }
    .vendor-page-course-tab-price-r {
        font-size: 12px;
    }
    .vendor-page-course-tab-buy-r {
        font-size: 12px;
    }
    .vendor-page-buy-btn-r>h3 {
        font-size: 25px;
    }
}


/*allc page responsive starts here*/

@media screen and (max-width:737px) {
    .allc-page-tab-info-intro {
        font-size: 17px;
    }
}

@media screen and (max-width:668px) {
    .allc-page-focus-course-holder {
        height: 440px;
    }
}

@media screen and (max-width:415px) {
    .allc-page-tab-row {
        height: 280px;
    }
    .allc-page-tab-price {
        margin: 15px;
        font-size: 18px;
    }
    .allc-page-focus-course-holder {
        height: 315px;
    }
    .allc-page-focus-course-caption-title>a>h1 {
        font-size: 20px;
    }
    .allc-page-focus-course-caption-info {
        font-size: 12px;
    }
    .allc-page-focus-course-caption-vendor-logo {
        height: 25px;
        width: 25px;
    }
    .allc-page-focus-course-caption-vendor-name>a>h2 {
        font-size: 12px;
    }
    .allc-page-tab-info-title {
        font-size: 17px;
    }
    .allc-page-tab-info-intro {
        font-size: 12px;
        padding: 0px 5px 5px 10px;
    }
    .allc-page-tab-info-vendor {
        padding: 2px 10px 2px 10px;
    }
    .allc-page-tab-info-vendor-logo {
        display: inline-block;
        height: 20px;
        width: 20px;
    }
    .allc-page-tab-info-vendor-name>a>h2 {
        font-size: 13px;
    }
}

@media screen and (max-width:376px) {
    .allc-page-tab-row {
        height: 260px;
    }
    .allc-page-tab-info-title{
      padding-top: 2px;
    }
    .allc-page-tab-price {
        margin: 11px;
        font-size: 15px;
    }
    .allc-page-focus-course-holder {
        height: 300px;
    }
    .allc-page-focus-course-caption-title>a>h1 {
        font-size: 17px;
    }
    .allc-page-tab-nav-item-holder {
        width: 75px;
        height: 75px;
    }
    .allc-page-tab-info-intro {
        font-size: 12px;
        padding: 0px 5px 0px 10px;
    }
    .allc-page-tab-info-vendor-logo {
        height: 20px;
        width: 20px;
    }
    .allc-page-tab-info-vendor-name>a>h2 {
        font-size: 12px;
    }
}

@media screen and (max-width:361px) {
    .allc-page-tab-row {
        height: 250px;
    }
    .allc-page-tab-info-title {
        padding: 5px 5px 0px 10px;
        font-size: 15px;
    }
    .allc-page-tab-info-vendor {
        padding: 2px 5px 5px 10px;
    }
    .allc-page-tab-info-intro {
        padding: 0px 2px 0px 5px;
    }
    .allc-page-tab-price {
        margin: 10px;
        font-size: 14px;
    }
}

@media screen and (max-width:321px) {
    .allc-page-focus-course-holder {
        height: 170px;
    }
    .allc-page-focus-course-caption-title>a>h1 {
        font-size: 20px;
    }
    .allc-page-focus-course-caption-info {
        display: none;
    }
    .allc-page-focus-course-caption-vendor-logo {
        height: 25px;
        width: 25px;
    }
    .allc-page-tab-nav-item-holder {
        width: 65px;
        height: 65px;
    }
    .allc-page-tab-row {
        height: 240px;
    }
    .allc-page-tab-price {
        margin: 11px;
        font-size: 13px;
    }
    .allc-page-tab-info-title {
        font-size: 15px;
        padding: 2px 5px 2px 10px;
    }
    .allc-page-tab-info-intro {
        display: none;
    }
    .allc-page-tab-info-vendor {
        padding: 0px 5px 5px 10px;
    }
    .allc-page-tab-info-vendor-logo {
        height: 20px;
        width: 20px;
    }
}
